<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head.html") %>
    <title>¡Pedime mi CV!</title>
  </head>
  <body>
    <%- include("partials/navigation.html") %>  <!-- Nav -->
    <div class="container">
        <div class="jumbotron" style="background-color: #fff;">
            <br>
            <h2 class="display-6">Currículum Vitae</h2>
            <p>
                Por motivos de privacidad de datos, retiré mi Curriculum Vitae en PDF de este sitio.
                En caso que quieras verlo, me lo podés solicitar y te lo enviaré por correo:
            </p>
            <form id="formSendMail">
                <div class="row">
                    <div class="col">
                        <input id="txtMail" type="email" class="form-control" required name="_replyto" placeholder="Tu Mail (Ej: nombre@direccion.com)">
                    </div>
                    <div class="col">
                        <input id="txtName" type="text" class="form-control" placeholder="Tu nombre">
                    </div>
                    <div class="col">
                        <input id="txtCompanyName" type="text" class="form-control" placeholder="Nombre de la empresa">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtMessage">Mensaje:</label>
                    <textarea id="txtMessage" name="body" required class="form-control" rows="6"></textarea>
                </div>
                <p>En caso que quieras enviar un mensaje personalizado podés hacerlo borrando el mensaje por defecto.</p>
                <div class="d-grid gap-2">
                    <button id="btnRequestForm" class="btn btn-primary" type="submit">Enviar formulario</button>
                </div>
                <br><br>
            </form>
            <div id="requestAlert" class="alert" role="alert"></div>
        </div>
    </div>
    <%- include("partials/footer.html") %>
    <script src="scripts/SendFormCv.js"></script>   <!-- Script con las funcionalidades del form -->
  </body>
</html>