<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head.html") %>
    <title>Portafolio - Joaquín Parrilla</title>
  </head>
  <body>
    <%- include("partials/navigation.html") %>
    <!------ Jumbotron section, "About me" section ------>
    <div class="jumbotron jumbotron-aboutMe" style="color: white !important;">
        <div id="divPresentation" class="presentation">
            <img id="imgPerfil" src="media/img/foto2.jpg" alt="" width="280" height="220">
            <br>
            <h1 class="presentationMyName" ><span>JOAQUÍN PARRILLA</span></h1>            
            <p class="TextDeveloper" style="font-size: 25px;">SOFTWARE DEVELOPER</p>
            <br>
        </div>
    </div>	
    <!---- End Jumbotron section ---->
    <div class="container">
        <br><br>
        <div class="jumbotron" style="background-color: #fff;">
            <h1 id="aboutMeSection" class="display-6">Acerca de mí</h1>
            <p class="aboutMeParagraph">
                Soy un Bachiller Informático, egresado de la Escuela Superior de Informática. 
                Dentro del rubro, lo que más me gusta es la programación, el simple hecho de escribir código para que una computadora lo pueda interpretar y realizar algo, me parece increíble. 
                También me atrae la matemática, la ciencia, y todo lo relacionado con la tecnología. 
                Si bien las bases de todo lo que sé lo he aprendido en el bachillerato, gran parte de mi conocimiento lo adquirí de forma 
                autodidacta, mirando videos, realizando pequeños cursos en distintas plataformas, y leyendo documentación o blogs. 
                Esta forma de aprendizaje me permitió avanzar en el mundo del desarrollo, y no quedarme únicamente con lo que aprendí en el bachiller. 
                Lenguajes como Kotlin o JavaScript los he aprendido completamente de forma autodidacta. <br>
                Con respecto a mi futuro, planeo estudiar ingeniería en computación, desde marzo de 2021.
                <br>
            </p>
            <hr class="my-4">
            <br>
            <h1 class="display-6">Resumen de mis habilidades</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Habilidad</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Herramientas usadas y/o experiencia</th>
                    </tr>
                </thead>
                <tbody id="tbodySkills"></tbody>
            </table>
            <hr class="my-4">
            <br>
            <h1 id="misProyectosSection" class="display-6">Mis Proyectos</h1>
            <span class="badge bg-primary"><a href="#nav">Volver arriba</a></span>
            <br><br>
            <h5>Algunos de los proyectos que hice:</h5>
            <div class="flex-container">
                <div tabindex="1" class="item-1 flex-item" title="Sistema que permite obtener un autodiagnóstico médico a partír de síntomas indicados, y chatear con un médico.">
                    <img class="imgProject" src="media/img/sistemaTelediagnosticoFrontend.png" >
                    <h3>Sistema de Telediagnóstico</h3><br>
                    <p><a href="https://github.com/Joaquin-Parrilla/Sistema_Telediagnostico_Medico">Enlace a GitHub</a></p>
                </div>
                <div tabindex="2" class="item-2 flex-item" title="Scripts para hacer tareas típicas de mantenimiento, monitoreo, gestión, respaldos, etc, en un sistema RedHat">
                    <img class="imgProject" src="media/img/centroComputos.jpeg" >
                    <h3>Scripts para gestión de Servidor CentOS</h3><br>
                    <p><a href="https://github.com/Joaquin-Parrilla/Scripts_Gestion_Monitoreo_Config_CentOS">Enlace a GitHub</a></p>
                </div>
                <div tabindex="3" class="item-3 flex-item" title="Aplicación de escritorio para Windows que simula el clásico juego del ahorcado. Desarrollada con WindowsForms.">
                    <img class="imgProject" src="media/img/ahorcadoProject.jpg" >
                    <h3>Videojuego Ahorcado (VB.NET)</h3><br>
                    <p><a href="https://github.com/Joaquin-Parrilla/Ahorcado_Juego">Enlace a GitHub</a></p>
                </div>
                <div tabindex="4" class="item-4 flex-item" title="Aplicación Web para visualizar y comparar datos del COVID-19 en un determinado país">
                    <img class="imgProject" src="media/img/CovidEnVivo.png" >
                    <h3>Covid en Vivo (App Web)</h3><br>
                    <p><a href="https://github.com/Joaquin-Parrilla/CovidEnVivo">Enlace a GitHub</a> / <a href="https://joaquin-parrilla.github.io/CovidEnVivo/">Usar la App</a></p>
                </div>
            </div>
            <hr class="my-4">
            <br>
            <h1 id="contactSection" class="display-6">Contactame:</h1>
            <span class="badge bg-primary"><a href="#nav">Volver arriba</a></span>
            <br><br>
            <h6>Mi correo profesional: <a href="mailto:joaquin.p.olivera@gmail.com">joaquin.p.olivera@gmail.com</a></h6>
            <h5>Mis redes sociales:</h5>
            <i class="fa fa-twitter-square" aria-hidden="true"></i> <a href="https://twitter.com/JoaqunParrilla2">@Joaquin-Parrilla </a><br>
            <i class="fa fa-telegram" aria-hidden="true"></i> <a href="https://t.me/Joaquin703">@Joaquin703 </a><br>
        </div>
    </div>
    <br><br>
    <%- include("partials/footer.html") %>
    <script src="scripts/IndexDocumentFunctions.js"></script><!-- index.html functions -->
  </body>
</html>